<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path_for("showHome") }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-record-vinyl"></i>
        </div>
        <div class="sidebar-brand-text mx-3">GraVTunes</div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" href="{{ path_for("showHome") }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Tableau de bord</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Bibliothèque
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{{ path_for('showTracks') }}">
            <i class="fas fa-file-audio"></i>
            <span>Titres</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path_for('showPlaylists') }}">
            <i class="fas fa-stream"></i>
            <span>Playlists</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path_for('showVinyles') }}">
            <i class="fas fa-record-vinyl"></i>
            <span>Vinyles</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Support
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{{ path_for('showTickets') }}">
            <i class="fas fa-ticket-alt"></i>
            <span>Tickets</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Commandes
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{{ path_for("showOrders") }}">
            <i class="fas fa-truck"></i>
            <span>Commandes</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>