{% extends "layouts/body-layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/app.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/bs-custom-file-input.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/app.js"></script>
{% endblock %}

{% block content %}
    <div id="wrapper">
        {% include "layouts/app-sidebar.twig" %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include "layouts/app-navbar.twig" %}
                <div class="container-fluid">
                    {% block appcontent %}{% endblock %}
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; GraVTunes 2020</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
{% endblock %}