{% extends "layouts/app-layout.twig" %}

{% block scripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.17.1"></script>
    <script src="{{ base_url() }}/public/assets/js/places.js"></script>
{% endblock %}

{% block appcontent %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Mon compte</h1>
    </div>

    {% include "layouts/flash.twig" %}

    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="general-tab" data-toggle="pill" href="#general" role="tab" aria-controls="general" aria-selected="true">Paramètres du compte</a>
                <a class="nav-link" id="createItem-tab" data-toggle="pill" href="#createItem" role="tab" aria-controls="createItem" aria-selected="false">Profil public</a>
                <a class="nav-link" id="manageItems-tab" data-toggle="pill" href="#manageItems" role="tab" aria-controls="manageItems" aria-selected="false">Sécurité</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="general" role="tabpanel">
                    <div class="card bg-light">
                        <div class="card-header bg-gradient-primary text-white">
                            Paramètres du compte
                        </div>
                        <div class="card-body">
                            <form method="POST" action="{{ path_for("updateSettings") }}">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="pseudo">Nom d'utilisateur *</label>
                                        <input type="text" id="pseudo" class="form-control" value="{{ auth.user.pseudo }}" disabled>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="email">Adresse e-mail *</label>
                                        <input type="email" class="form-control" id="email" name="email" value="{{ auth.user.email }}" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="pseudo">Nom *</label>
                                        <input type="text" id="pseudo" class="form-control" name="name" value="{{ auth.user.nom }}" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="forename">Prénom *</label>
                                        <input type="text" class="form-control" id="forename" name="forename" value="{{ auth.user.prenom }}" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="address">Adresse *</label>
                                    <input id="address" type="search" class="form-control form-control-user" name="address" placeholder="Adresse" value="{{ auth.user.address }}" required>
                                    <div class="invalid-feedback" id="addressFeedback">
                                        Votre adresse est indispensable
                                    </div>
                                </div>

                                {{ csrf() | raw }}

                                <hr>
                                Les champs marqués d'un astérisque sont obligatoires.
                                <button type="submit" class="btn btn-lg btn-primary float-right">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="createItem" role="tabpanel">
                    <div class="card bg-light">
                        <div class="card-header bg-gradient-primary text-white">
                            Profil public
                        </div>
                        <div class="card-body">
                            <form method="POST" action="{{ path_for("updateProfile") }}" enctype="multipart/form-data">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="pseudo">Nom d'utilisateur *</label>
                                        <input type="text" id="pseudo" class="form-control" value="{{ auth.user.pseudo }}" disabled>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Avatar</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="avatar" name="avatar">
                                            <label for="avatar" class="custom-file-label" data-browse="Parcourir">Choisir un fichier...</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" id="description" rows="3" name="description">{{ auth.user.description }}</textarea>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="public" name="public" checked>
                                        <label class="custom-control-label" for="public">Rendre votre profil publique</label>
                                    </div>
                                </div>

                                {{ csrf() | raw }}

                                <hr>
                                Les champs marqués d'un astérisque sont obligatoires.
                                <button type="submit" class="btn btn-lg btn-primary float-right">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="manageItems" role="tabpanel">
                    <div class="card bg-light">
                        <div class="card-header bg-gradient-primary text-white">
                            Sécurité
                        </div>
                        <div class="card-body">
                            <form method="POST" action="{{ path_for("updateSecurity") }}">
                                <div class="form-group">
                                    <label for="actual_password">Mot de passe actuel *</label>
                                    <input type="password" name="actual_password" class="form-control" id="actual_password">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="newpassword">Nouveau mot de passe *</label>
                                        <input type="password" id="newpassword" name="newpassword" class="form-control">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="conf_newpassword">Confirmation *</label>
                                        <input type="password" id="conf_newpassword" name="conf_newpassword" class="form-control">
                                    </div>
                                </div>

                                {{ csrf() | raw }}

                                <hr>
                                Les champs marqués d'un astérisque sont obligatoires.
                                <button type="submit" class="btn btn-lg btn-primary float-right">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}