{% extends "layouts/app-layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/bootstrap-select.min.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ base_url() }}/public/assets/js/bootstrap-select.min.js"></script>
    <script src="{{ base_url() }}/public/assets/js/bootstrap-select_fr_FR.min.js"></script>
{% endblock %}

{% block appcontent %}

    {% include "layouts/flash.twig" %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Créer un vinyle personnalisé</h6>
        </div>
        <div class="card-body">
            <form method="POST" action="{{ path_for("addVinyle") }}" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="name">Nom du vinyle *</label>
                        <input type="text" name="name" id="name" class="form-control" value="{{ oldData.name }}" required autofocus>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Couverture</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="cover" name="cover">
                            <label for="cover" class="custom-file-label" data-browse="Parcourir">Choisir un fichier...</label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="tracks">Sélection des titres</label>
                        <select name="tracks[]" class="form-control selectpicker" id="tracks" data-live-search="true" multiple>
                            {% for track in tracks %}
                                {% if track.archived is same as(0) %}
                                    <option value="{{ track.id }}">{{ track.nom }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="3" name="description">{{ oldData.description }}</textarea>
                </div>

                {{ csrf() | raw }}

                <hr>
                Les champs marqués d'un astérisque sont obligatoires.
                <button type="submit" class="btn btn-lg btn-primary float-right">Envoyer</button>
            </form>
        </div>
    </div>
{% endblock %}