{% extends "layouts/app-layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/datatables.bootstrap.min.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/dataTables.min.js"></script>
    <script type="text/javascript" src='{{ base_url() }}/public/assets/js/datatables.bootstrap.min.js'></script>
{% endblock %}
{% block appcontent %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Ticket n°</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <div class="card shadow m-1">
                        <!-- Chat Box-->
                        <div>
                            <div class="px-4 py-5 chat-box bg-white">
                                <!-- Sender Message-->
                                <div class="media w-50 mb-3"><img
                                            src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
                                            alt="user" width="50" class="rounded-circle">
                                    <div class="media-body ml-3">
                                        <div class="bg-light rounded py-2 px-3 mb-2">
                                            <p class="text-small mb-0 text-muted">Bonjour, comment puis-je vous aider
                                                ?</p>
                                        </div>
                                        <p class="small text-muted">12:30 | Fev 13</p>
                                    </div>
                                </div>

                                <!-- Reciever Message-->
                                <div class="media w-50 ml-auto mb-3">
                                    <div class="media-body">
                                        <div class="bg-primary rounded py-2 px-3 mb-2">
                                            <p class="text-small mb-0 text-white">Bonjour ! J'ai un problème avec
                                                l'ajout de
                                                titres, c'est toujours l'erreur avec ffmpeg. </p>
                                        </div>
                                        <p class="small text-muted">12:30 PM | Fev 13</p>
                                    </div>
                                </div>

                                <!-- Sender Message-->
                                <div class="media w-50 mb-3"><img
                                            src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
                                            alt="user" width="50" class="rounded-circle">
                                    <div class="media-body ml-3">
                                        <div class="bg-light rounded py-2 px-3 mb-2">
                                            <p class="text-small mb-0 text-muted">D'accord on va voir ensemble ce que
                                                l'on peut
                                                faire. Commencez par suivre les étapes de ce lien -lien- puis revenez
                                                ensuite
                                                vers moi.</lien></p>
                                        </div>
                                        <p class="small text-muted">12:31 PM | Fev 13</p>
                                    </div>
                                </div>

                                <!-- Reciever Message-->
                                <div class="media w-50 ml-auto mb-3">
                                    <div class="media-body">
                                        <div class="bg-primary rounded py-2 px-3 mb-2">
                                            <p class="text-small mb-0 text-white">Merci je vous recontacte dès que c'est
                                                fini.</p>
                                        </div>
                                        <p class="small text-muted">12:31 PM | Fev 13</p>
                                    </div>
                                </div>

                                <!-- Sender Message-->
                                <div class="media w-50 mb-3"><img
                                            src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
                                            alt="user" width="50" class="rounded-circle">
                                    <div class="media-body ml-3">
                                        <div class="bg-light rounded py-2 px-3 mb-2">
                                            <p class="text-small mb-0 text-muted">D'accord ! À tout à l'heure.</p>
                                        </div>
                                        <p class="small text-muted">12:31 PM | Fev 13</p>
                                    </div>
                                </div>

                                <!-- Typing area -->
                                <form action="#" class="bg-light">
                                    <div class="input-group">
                                        <input type="text" placeholder="Aa" aria-describedby="button-addon2"
                                               class="form-control rounded-0 border-0 py-4 bg-light">
                                        <div class="input-group-append">
                                            <button id="button-addon2" type="submit" class="btn btn-link"><i
                                                        class="fa fa-paper-plane"></i></button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

