{% extends "layouts/body-layout.twig" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/uac.css">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ base_url() }}/public/assets/js/uac.js"></script>
{% endblock %}

{% block content %}
    <section class="uac h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <img src="{{ base_url() }}/public/assets/media/images/logo.png" alt="logo">
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Connexion</h4>
                            {% for msg in flash('error') %}
                                <ul class="alert alert-danger">
                                        {{ msg }}
                                </ul>
                            {% endfor %}
                            {% for msg in flash('success') %}
                                <ul class="alert alert-success">
                                    {{ msg }}
                                </ul>
                            {% endfor %}
                            <form method="POST" class="uac-validation" novalidate="" action="{{ path_for("login") }}">
                                <div class="form-group">
                                    <label for="id">Identifiant</label>
                                    <input id="id" type="text" class="form-control" name="id" value="{{ oldData.id }}" required autofocus>
                                    <div class="invalid-feedback">
                                        Votre identifiant est indispensable
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password">Mot de passe</label>
                                    <input id="password" type="password" class="form-control" name="password" required>
                                    <div class="invalid-feedback">
                                        Votre mot de passe est indispensable
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" name="remember" id="remember" class="custom-control-input">
                                        <label for="remember" class="custom-control-label">Remember Me</label>
                                    </div>
                                </div>

                                {{ csrf() | raw }}

                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Connexion
                                    </button>
                                </div>
                                <div class="mt-4 text-center">
                                    Vous n'avez pas de compte? <a href="{{ path_for("showRegister") }}">Créez-en un</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="footer">
                        Copyright &copy; 2020 &mdash; GraVTunes
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}