{% extends "layouts/app-layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/datatables.bootstrap.min.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/dataTables.min.js"></script>
    <script type="text/javascript" src='{{ base_url() }}/public/assets/js/datatables.bootstrap.min.js'></script>
{% endblock %}

{% block appcontent %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a class="btn btn-outline-primary float-right" href="{{ path_for("newPlay") }}">Ajouter une playlist</a>
            <h6 class="m-0 font-weight-bold text-primary">Mes Playlists</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Date de création</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Date de création</th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for playlist in playlists %}
                        <tr>
                            <td class="text-center"><i class="far fa-play-circle fa-3x"></i></td>
                            <td>{{ playlist.nom }}</td>
                            <td>{{ playlist.description }}</td>
                            <td>{{ playlist.creationDate }}</td>
                            <td>
                                <div class="dropdown">
                                    <a  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-bars fa-2x"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a href="{{ path_for('formNewTracks', {id: playlist.id}) }}">
                                            <button type="button" class="dropdown-item">Ajouter une musique</button>
                                        </a>
                                        <a href="{{ path_for('formUpdatePlay', {id: playlist.id}) }}">
                                            <button type="button" class="dropdown-item">Modifier</button>
                                        </a>
                                        <button type="button" class="dropdown-item" data-toggle="modal" data-target="#deleteTrackModal">Supprimer</button>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <div class="modal fade" id="deleteTrackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <form method="POST" action="{{ path_for("deletePlay", {id: playlist.id}) }}" id="deleteTrackForm" >
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Êtes-vous sûr de supprimer cette playliste ?</h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>

                                        {{ csrf() | raw }}

                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Fermer</button>
                                            <button class="btn btn-primary" type="submit">Supprimer</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}