{% extends "layouts/body-layout.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/uac.css">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/uac.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.17.1"></script>
    <script src="{{ base_url() }}/public/assets/js/places.js"></script>
{% endblock %}

{% block content %}
    <section class="uac h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <img src="{{ base_url() }}/public/assets/media/images/logo.png" alt="logo">
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Inscription</h4>
                            <form method="POST" class="uac-validation" novalidate="" action="{{ path_for("register") }}">
                                <div class="form-group form-row">
                                    <div class="col">
                                        <label for="name">Nom</label>
                                        <input id="name" type="text" class="form-control" name="name" required autofocus>
                                        <div class="invalid-feedback">
                                            Votre nom est indispensable
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="forename">Prénom</label>
                                        <input id="forename" type="text" class="form-control" name="forename" required>
                                        <div class="invalid-feedback">
                                            Votre prénom est indispensable
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="pseudo">Pseudonyme</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">@</div>
                                        </div>
                                        <input id="pseudo" type="text" class="form-control" name="pseudo" required>
                                        <div class="invalid-feedback">
                                            Votre pseudonyme est indispensable
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Adresse e-mail</label>
                                    <input id="email" type="email" class="form-control" name="email" required>
                                    <div class="invalid-feedback">
                                        Votre adresse e-mail est indispensable
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="address">Adresse</label>
                                    <input id="address" type="search" class="form-control" name="address" required>
                                    <div class="invalid-feedback">
                                        Votre adresse est indispensable
                                    </div>
                                </div>

                                <div class="form-group form-row">
                                    <div class="col">
                                        <label for="password">Mot de passe</label>
                                        <input id="password" type="password" class="form-control" name="password" required>
                                        <div class="invalid-feedback">
                                            Votre mot de passe est indispensable
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="password_conf">Confirmation</label>
                                        <input id="password_conf" type="password" class="form-control" name="password_conf" required>
                                        <div class="invalid-feedback">
                                            La confirmation du mot de passe est indispensable
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" name="agree" id="agree" class="custom-control-input" required="">
                                        <label for="agree" class="custom-control-label">J'accepte les <a href="#">conditions d'utilisation</a></label>
                                        <div class="invalid-feedback">
                                            Vous devez accepter nos conditions d'utilisation
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        S'inscrire
                                    </button>
                                </div>
                                <div class="mt-4 text-center">
                                    Vous avez déjà un compte? <a href="{{ path_for("showLogin") }}">Connectez-vous!</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="footer">
                        Copyright &copy; 2020 &mdash; GraVTunes
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}