{% extends "layouts/app-layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/datatables.bootstrap.min.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/dataTables.min.js"></script>
    <script type="text/javascript" src='{{ base_url() }}/public/assets/js/datatables.bootstrap.min.js'></script>
{% endblock %}

{% block appcontent %}

    {% include "layouts/flash.twig" %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a class="btn btn-outline-primary float-right" href="{{ path_for("showAddTicket") }}">Nouveau ticket</a>
            <h6 class="m-0 font-weight-bold text-primary">Mes tickets</h6>
        </div>
        <div class="card-body">
            <div class="btn-group mb-4" role="group">
                <a class="btn btn-outline-primary float-left active" id="openedTickets" href="{{ path_for("showTickets") }}">Tickets ouverts</a>
                <a class="btn btn-outline-primary float-left" id="closedTickets" href="{{ path_for("showClosedTickets") }}">Tickets fermés</a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Objet</th>
                        <th>Date de création</th>
                        <th>Date du dernier message</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Objet</th>
                        <th>Date de création</th>
                        <th>Date du dernier message</th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <td>{{ ticket.id }}</td>
                            <td>{{ ticket.objet }}</td>
                            <td>{{ ticket.created_at | date("d/m/Y H:i") }}</td>
                            <td>{{ ticket.updated_at | date("d/m/Y H:i") }}</td>
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <a href="{{ path_for('showTicket', {id: ticket.id}) }}" class="btn btn-success"><i class="fas fa-eye"></i></a>
                                    <button type="submit" class="btn btn-danger" data-toggle="popover" title="<i class='fas fa-exclamation-triangle'></i> Êtes-vous sûr?" data-placement="bottom" data-trigger="focus" data-content="<div class='btn-group btn-group-sm' role='group'><a class='btn btn-sm btn-danger' href='{{ path_for('closeTicket', {id: ticket.id}) }}'>Confirmer</a><a class='btn btn-sm btn-primary' href='#'>Annuler</a></div>">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>

                        <div class="modal fade" id="closeTicketModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <form method="POST" action="{{ path_for("closeTicket", {id: ticket.id}) }}" id="closeTicketForm" >
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" >Êtes-vous sûr de vouloir clore le ticket ?</h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>

                                        {{ csrf() | raw }}

                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Fermer</button>
                                            <button class="btn btn-primary" type="submit">Clore</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}