{% extends "layouts/app-layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/datatables.bootstrap.min.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ base_url() }}/public/assets/js/dataTables.min.js"></script>
    <script src="{{ base_url() }}/public/assets/js/datatables.bootstrap.min.js"></script>
{% endblock %}
{% block appcontent %}

    {% include "layouts/flash.twig" %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% if ticket.statut == 0 %}
                {% if auth.user.role == 1 %}
                    <button type="submit" class="btn btn-sm btn-danger float-right" data-toggle="popover" title="<i class='fas fa-exclamation-triangle'></i> Êtes-vous sûr?" data-placement="bottom" data-trigger="focus" data-content="<div class='btn-group btn-group-sm' role='group'><a class='btn btn-sm btn-danger' href='{{ path_for('adminCloseTicket', {id: ticket.id}) }}'>Confirmer</a><a class='btn btn-sm btn-primary' href='#'>Annuler</a></div>">
                        Clore <i class="fas fa-times"></i>
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-sm btn-danger float-right" data-toggle="popover" title="<i class='fas fa-exclamation-triangle'></i> Êtes-vous sûr?" data-placement="bottom" data-trigger="focus" data-content="<div class='btn-group btn-group-sm' role='group'><a class='btn btn-sm btn-danger' href='{{ path_for('closeTicket', {id: ticket.id}) }}'>Confirmer</a><a class='btn btn-sm btn-primary' href='#'>Annuler</a></div>">
                        Clore <i class="fas fa-times"></i>
                    </button>
                {% endif %}
            {% endif %}
            <h6 class="m-0 font-weight-bold text-primary">Ticket #{{ ticket.id }} - Créé le {{ ticket.created_at | date('d/m/Y') }}</h6>
        </div>
        <div class="card-body">
            <div class="px-4 py-5 chat-box bg-white">
                <div class="media w-50 mb-3"><img src="{{ base_url() }}/public/assets/media/images/ticket_image.svg" alt="Avatar" width="50" class="rounded-circle">
                    <div class="media-body ml-3">
                        <div class="bg-light rounded py-2 px-3 mb-2">
                            <p class="text-small mb-0 text-muted">Bonjour, comment puis-je vous aider ?</p>
                        </div>
                        <p class="small text-muted">Message automatique</p>
                    </div>
                </div>

                {% for message in messages %}
                    {% if message.user_id == auth.user.id %}
                        <div class="media w-50 ml-auto mb-3">
                            <div class="media-body mr-2">
                                <div class="bg-primary rounded py-2 px-3 mb-2">
                                    <p class="text-small mb-0 text-white">{{ message.message }}</p>
                                </div>
                                <p class="small text-muted">{{ message.created_at | date("d/m/Y H:i") }}</p>
                            </div>
                            <img src="{{ base_url() }}/uploads/avatars/{{ auth.user.avatar }}" alt="Avatar" width="50" class="rounded-circle">
                        </div>
                    {% else %}
                        <div class="media w-50 mb-3"><img src="{{ base_url() }}/uploads/avatars/{{ message.user.avatar }}" alt="Avatar" width="50" class="rounded-circle">
                            <div class="media-body ml-3">
                                <div class="bg-light rounded py-2 px-3 mb-2">
                                    <p class="text-small mb-0 text-muted">{{ message.message }}</p>
                                </div>
                                <p class="small text-muted">{{ message.created_at | date("d/m/Y H:i") }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if ticket.statut == 0 %}
                    <form method="POST" action="{{ path_for("addMessage", {id: ticket.id}) }}" id="addMessageForm" class="bg-light">
                        <div class="input-group">
                            <input type="text" id="message" placeholder="Envoyer une réponse" class="form-control rounded-0 border-0 py-4 bg-light" name="message">

                            {{ csrf() | raw }}

                            <div class="input-group-append">
                                <button id="send" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}