{% extends "layouts/app-layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/datatables.bootstrap.min.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/dataTables.min.js"></script>
    <script type="text/javascript" src='{{ base_url() }}/public/assets/js/datatables.bootstrap.min.js'></script>
{% endblock %}
{% block appcontent %}

    {% include "layouts/flash.twig" %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Ticket #{{ ticket.id }} - Créé le {{ ticket.created_at | date('d/m/Y') }}</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <div class="card shadow m-1">
                        <div>
                            <div class="px-4 py-5 chat-box bg-white">
                                <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                                    <div class="media-body ml-3">
                                        <div class="bg-light rounded py-2 px-3 mb-2">
                                            <p class="text-small mb-0 text-muted">Bonjour, comment puis-je vous aider ?</p>
                                        </div>
                                        <p class="small text-muted">12:30 | Fev 13</p>
                                    </div>
                                </div>

                                {% for message in messages %}
                                    {% if message.user_id == ticket.user_id%}
                                    <div class="media w-50 ml-auto mb-3">
                                        <div class="media-body">
                                            <div class="bg-primary rounded py-2 px-3 mb-2">
                                                <p class="text-small mb-0 text-white">{{ message.message }}</p>
                                            </div>
                                            <p class="small text-muted">{{ message.created_at | date("d/m/Y H:i") }}</p>
                                        </div>
                                    </div>
                                    {% else %}
                                        <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                                            <div class="media-body ml-3">
                                                <div class="bg-light rounded py-2 px-3 mb-2">
                                                    <p class="text-small mb-0 text-muted">{{ message.message }}</p>
                                                </div>
                                                <p class="small text-muted">{{ message.created_at | date("d/m/Y H:i") }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <!-- Typing area -->
                                <form method="POST" action="{{ path_for("addMessage", {id: ticket.id}) }}" id="addMessageForm" enctype="multipart/form-data" class="bg-light">
                                    <div class="input-group">
                                        <input type="text" id="message" placeholder="Aa" class="form-control rounded-0 border-0 py-4 bg-light" name="message">

                                        {{ csrf() | raw }}

                                        <div class="input-group-append">
                                            <button id="send" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

