{% extends "layouts/body-layout.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/uac.css">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/app.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/track.js"></script>
    <script type="text/javascript" src='{{ base_url() }}/public/assets/js/jqueryDT.js'></script>
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/jquery.dataTables.min.js"></script>


    <script type="text/javascript" src="main.js"></script>
{% endblock %}
{% block content %}
    <div id="wrapper">
        {% include "layouts/app-sidebar.twig" %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include "layouts/app-navbar.twig" %}

                <div class="container-fluid">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-primary btn-lg d-sm-flex p-2 bd-highlight" style="margin: 1%" data-toggle="modal" data-target="#importTrack">Importer un fichier audio</button>
                    </div>
                       <div class="card-title " style="padding: 2%; ">
                            <h1 class="text-md-center border  rounded-pill shadow-lg p-3 mb-5 bg-white rounded" style="padding-left: 20%; padding-right: 20%; padding-top: 1%; padding-bottom: 1%; text-align: center">Vos Titres</h1>
                        </div>
                        <table class="display" id="track" style="width:95%; margin: 2%; margin-bottom: 3%">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Titre</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                                {%  for track in tracks %}
                                <tr>
                                    <td><img src="{{ base_url() }}/public/assets/media/images/play.png" style="height:55px" class="mr-3" alt="{{ track.nom }}"></td>
                                    <td>{{ track.nom }}</td>
                                    <td>{{ track.description }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; GraVTunes 2020</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Êtes-vous sûr de vous déconnecter ?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selectionnez "Déconnexion" si vous souhaitez vous déconnecter de votre compte.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Fermer</button>
                    <a class="btn btn-primary" href="{{ path_for("logout") }}">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="importTrack" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form method="POST" class="uac-validation" action="{{ path_for("importFile") }}" id="importTrackForm" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Ajout d'une chanson</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="file">Fichier</label>
                            <input id="file" type="file" class="form-control" name="file" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="title">Titre</label>
                            <input id="title" type="text" class="form-control" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="descr">Description</label>
                            <textarea id="descr" type="text" class="form-control" name="descr" placeholder="Nom de l'album du titre, de son artiste ..."></textarea>
                        </div>
                    </div>

                    {{ csrf() | raw }}

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Importer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}



