{% extends "layouts/body-layout.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/app.css">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/app.js"></script>
{% endblock %}
{% block content %}
    <div id="wrapper">
        {% include "layouts/app-sidebar.twig" %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include "layouts/app-navbar.twig" %}

                <div class="container-fluid">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-primary btn-lg d-sm-flex p-2 bd-highlight" style="margin: 1%">Importer un fichier audio</button>
                    </div>
                       <div class="card-title " style="padding: 2%; ">
                            <h1 class="text-md-center border  rounded-pill shadow-lg p-3 mb-5 bg-white rounded" style="padding-left: 20%; padding-right: 20%; padding-top: 1%; padding-bottom: 1%; text-align: center">Vos Titres</h1>
                        </div>
                        {%  for track in tracks %}
                            <div class="media shadow p-3 mb-5 bg-white rounded" style="margin-top: 3%; margin-left: 2%">
                                <img src="{{ base_url() }}/public/assets/media/images/logo.png" style="height:55px" class="mr-3" alt="{{ track.nom }}">
                                <div class="media-body">
                                    <h5 class="mt-0">{{ track.nom }}</h5>
                                    {{ track.description }}
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; GraVTunes 2020</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Êtes-vous sûr de vous déconnecter ?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selectionnez "Déconnexion" si vous souhaitez vous déconnecter de votre compte.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Fermer</button>
                    <a class="btn btn-primary" href="{{ path_for("logout") }}">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



