{% extends "layouts/app-layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/datatables.bootstrap.min.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/dataTables.min.js"></script>
    <script type="text/javascript" src='{{ base_url() }}/public/assets/js/datatables.bootstrap.min.js'></script>
{% endblock %}

{% block appcontent %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Mes titres</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nom</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Nom</th>
                            <th>Description</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for track in tracks %}
                            <tr>
                                <td class="text-center"><i class="far fa-play-circle fa-3x"></i></td>
                                <td>{{ track.nom }}</td>
                                <td>{{ track.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Êtes-vous sûr de vous déconnecter ?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selectionnez "Déconnexion" si vous souhaitez vous déconnecter de votre compte.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Fermer</button>
                    <a class="btn btn-primary" href="{{ path_for("logout") }}">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="importTrack" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form method="POST" class="uac-validation" action="{{ path_for("importFile") }}" id="importTrackForm" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Ajout d'une chanson</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="file">Fichier</label>
                            <input id="file" type="file" class="form-control" name="file" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="title">Titre</label>
                            <input id="title" type="text" class="form-control" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="descr">Description</label>
                            <textarea id="descr" type="text" class="form-control" name="descr" placeholder="Nom de l'album du titre, de son artiste ..."></textarea>
                        </div>
                    </div>

                    {{ csrf() | raw }}

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Importer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}



