{% extends "layouts/app-layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/datatables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/stickyaudioplayerjquery.min.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/dataTables.min.js"></script>
    <script type="text/javascript" src='{{ base_url() }}/public/assets/js/datatables.bootstrap.min.js'></script>
    <script type="text/javascript" src='{{ base_url() }}/public/assets/js/stickyaudioplayerjquery.min.js'></script>
    <script type="text/javascript" src='{{ base_url() }}/public/assets/js/player.js'></script>
{% endblock %}

{% block appcontent %}
    <div class="card shadow mb-4" id="tableTracks">
        <div class="card-header py-3">
            <a class="btn btn-outline-primary float-right" href="{{ path_for("importTracks") }}">Ajouter une musique</a>
            <h6 class="m-0 font-weight-bold text-primary">Mes titres</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nom</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Nom</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for track in tracks %}
                            <tr>
                                <td class="text-center"><a class="playBtn" href="#" data-file="{{ base_url() }}/uploads/tracks/{{ track.file.path }}" data-title="{{ track.nom }}" data-cover="{{ base_url() }}/public/assets/media/images/logo.png"><i class="far fa-play-circle fa-3x" id="buttonPlayer"></i></a></td>
                                <td>{{ track.nom }}</td>
                                <td>{{ track.description }}</td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <a  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-bars fa-2x"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a href="{{ path_for('formUpdateTracks', {id: track.id}) }}"><button type="button" class="dropdown-item">Modifier</button></a>
                                            <button type="button" class="dropdown-item" data-toggle="modal" data-target="#deleteTrackModal">Supprimer</button>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <div class="modal fade" id="deleteTrackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <form method="POST" action="{{ path_for("deleteFile", {id: track.id}) }}" id="deleteTrackForm" >
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Êtes-vous sûr de supprimer cette chanson ?</h5>
                                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>

                                            {{ csrf() | raw }}

                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Fermer</button>
                                                <button class="btn btn-primary" type="submit">Supprimer</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}