{% extends "layouts/app-layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/datatables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/stickyaudioplayerjquery.min.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ base_url() }}/public/assets/js/dataTables.min.js"></script>
    <script src="{{ base_url() }}/public/assets/js/datatables.bootstrap.min.js"></script>
    <script src="{{ base_url() }}/public/assets/js/stickyaudioplayerjquery.min.js"></script>
    <script src="{{ base_url() }}/public/assets/js/player.js"></script>
{% endblock %}

{% block appcontent %}

    {% include "layouts/flash.twig" %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a class="btn btn-sm btn-outline-primary float-right" href="{{ path_for("addTrack") }}">Ajouter une musique</a>
            <h6 class="m-0 font-weight-bold text-primary">Mes titres</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for track in tracks %}
                        <tr>
                            <td class="text-center"><a class="playBtn" href="#" data-file="{{ base_url() }}/uploads/tracks/{{ track.file.path }}" data-title="{{ track.nom }}" data-cover="{{ base_url() }}/public/assets/media/images/logo.png"><i class="far fa-play-circle fa-3x"></i></a></td>
                            <td>{{ track.nom }}</td>
                            <td>{{ track.description }}</td>
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <a href="{{ path_for('showUpdateTrack', {id: track.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                    <button type="submit" class="btn btn-danger" data-toggle="popover" title="<i class='fas fa-exclamation-triangle'></i> Êtes-vous sûr?" data-placement="bottom" data-trigger="focus" data-content="<div class='btn-group btn-group-sm' role='group'><a class='btn btn-sm btn-danger' href='{{ path_for('deleteTrack', {id: track.id}) }}'>Confirmer</a><a class='btn btn-sm btn-primary' href='#'>Annuler</a></div>">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}