{% extends "layouts/app-layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/datatables.bootstrap.min.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/dataTables.min.js"></script>
    <script type="text/javascript" src='{{ base_url() }}/public/assets/js/datatables.bootstrap.min.js'></script>
{% endblock %}

{% block appcontent %}

    {% include "layouts/flash.twig" %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a class="btn btn-sm btn-outline-primary float-right" href="{{ path_for('addVinyle') }}">Créer un Vinyle</a>
            <h6 class="m-0 font-weight-bold text-primary">Mes Vinyles</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Nombre de titres</th>
                            <th>Prix</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Nombre de titres</th>
                            <th>Prix</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for vinyle in vinyles %}
                            <tr>
                                <td>{{ vinyle.nom }}</td>
                                <td>{{ vinyle.tracks.count }}</td>
                                <td>{{ vinyle.prix }} €</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a href="{{ path_for('showVinyle', {id: vinyle.id}) }}" class="btn btn-success"><i class="fas fa-eye"></i></a>
                                        <a href="{{ path_for('addCart', {id: vinyle.id}) }}" class="btn btn-primary"><i class="fas fa-cart-plus"></i></a>
                                        <a href="{{ path_for('deleteVinyle', {id: vinyle.id}) }}" class="btn btn-danger"><i class="fas fa-times"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <p>
        <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample2">Collaborer sur un vinyle </button>
    </p>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    <label >Recherchez le vinyle sur lequel vous allez collaborer grâce au numéro que son créateur vous a envoyé : </label>
                    <form class="form" action="{{ path_for("getCollab") }}" method="POST">
                        <div class="form-group mb-4">
                            <label for="staticEmail2" class="sr-only">Email</label>
                        </div>
                        <div class="form-group mx-sm-4 mb-4">
                            <input type="password" class="form-control" name="shareKey" id="inputPassword2" placeholder="Clef du vinyle">
                        </div>

                        {{ csrf() | raw }}

                        <button type="submit" class="btn btn-primary mb-3">Accéder au vinyle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}