{% extends "layouts/app-layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/datatables.bootstrap.min.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/dataTables.min.js"></script>
    <script type="text/javascript" src='{{ base_url() }}/public/assets/js/datatables.bootstrap.min.js'></script>
{% endblock %}

{% block appcontent %}

    {% include "layouts/flash.twig" %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a class="btn btn-sm btn-outline-primary float-right" href="{{ path_for('addVinyle') }}">Créer un Vinyle</a>
            <button class="btn btn-sm btn-outline-primary float-right mr-lg-2 " type="button" data-toggle="modal" data-target="#modalCollab">Collaborer sur un Vinyle </button>
            <h6 class="m-0 font-weight-bold text-primary">Mes Vinyles</h6>
        </div>
        <div class="modal fade" id="modalCollab" tabindex="-1" role="dialog" aria-labelledby="modalCollaboration" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCollaboration">Collaboration</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="form" action="{{ path_for("getCollab") }}" method="POST">
                        <div class="modal-body">
                            <p>Vous posséder une clé d'invitation ? Commencez dès maintenant à collaborer!</p>

                            <div class="form-group">
                                <input type="text" class="form-control" name="shareKey" placeholder="Clé du vinyle">
                            </div>

                            {{ csrf() | raw }}

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary ">Accéder au vinyle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% for vinyle in vinyles %}
            <div class="modal fade" id="modalInvitCollab{{ vinyle.id }}" tabindex="-1" role="dialog" aria-labelledby="modalInvitCollab" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalInvitCollab">Invitation à collaborer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Partagez ce lien pour inviter un collaborateur</p>
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{  uri.getAuthority() ~ path_for('showCollab', {shareKey: vinyle.shareKey}) }}" onclick="clipboard(this)" data-toggle="popover" data-content="<i class='fas fa-check-circle'></i></i> C'est copié !" data-placement="bottom" data-trigger="focus" readonly>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modalSendInvitCollab{{ vinyle.id }}" tabindex="-1" role="dialog" aria-labelledby="modalSendInvitCollab" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form action="{{ path_for("sendInvitCollab", {shareKey: vinyle.shareKey}) }}" method="POST" id="sendInvitForm{{ vinyle.id }}">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalInvitCollab">Envoi d'invitation à collaborer</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><small>Vous avez la possibilité d'envoyer un mail au collaborateur que vous souhaitez. Il contiendra la clé du vinyle correspondant avec son lien</small></p>
                                <label for="emailInput"><strong>Insérez l'adresse mail du collaborateur que vous souhaitez : </strong></label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="inputMail{{ vinyle.id }}" name="mailDest">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button" id="buttonAddMail" data-value="{{ vinyle.id }}"><i class="fas fa-plus"></i></button>
                                    </div>
                                </div>
                                <fieldset id="fieldsetMails{{ vinyle.id }}">
                                    <legend class="lead" id="legMail"></legend>
                                </fieldset>
                            </div>

                                {{ csrf() | raw }}

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <button type="submit" class="btn btn-primary">Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Nombre de titres</th>
                            <th>Prix</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Nombre de titres</th>
                            <th>Prix</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for vinyle in vinyles %}
                            <tr>
                                <td>{{ vinyle.nom }}</td>
                                <td>{{ vinyle.tracks.count }}</td>
                                <td>{{ vinyle.prix }} €</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a href="{{ path_for('showVinyle', {id: vinyle.id}) }}" class="btn btn-success"><i class="fas fa-eye"></i></a>
                                        <a href="{{ path_for('addCart', {id: vinyle.id}) }}" class="btn btn-primary"><i class="fas fa-cart-plus"></i></a>
                                        <div class="dropdown">
                                            <a href="#" class="btn btn-dark dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-share-square"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                <a href="#" class="dropdown-item" data-toggle="modal" data-target="#modalInvitCollab{{ vinyle.id }}">Partager le lien</a>
                                                <a  href="#" class="dropdown-item" data-toggle="modal" data-target="#modalSendInvitCollab{{ vinyle.id }}">Envoyer une invitation par mail</a>
                                            </div>
                                        </div>
                                        <a href="{{ path_for('deleteVinyle', {id: vinyle.id}) }}" class="btn btn-danger"><i class="fas fa-times"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}