{% extends "layouts/app-layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/datatables.bootstrap.min.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/dataTables.min.js"></script>
    <script type="text/javascript" src='{{ base_url() }}/public/assets/js/datatables.bootstrap.min.js'></script>
{% endblock %}

{% block appcontent %}

    {% include "layouts/flash.twig" %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a class="btn btn-sm btn-outline-primary float-right" href="{{ path_for('addVinyle') }}">Créer un Vinyle</a>
            <button class="btn btn-sm btn-outline-primary float-right mr-lg-2 " type="button" data-toggle="modal" data-target="#modalCollab">Collaborer sur un Vinyle </button>
            <h6 class="m-0 font-weight-bold text-primary">Mes Vinyles</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Nombre de titres</th>
                            <th>Prix</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Nombre de titres</th>
                            <th>Prix</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for vinyle in vinyles %}
                            <tr>
                                <td>{{ vinyle.nom }}</td>
                                <td>{{ vinyle.tracks.count }}</td>
                                <td>{{ vinyle.prix }} €</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a href="{{ path_for('showVinyle', {id: vinyle.id}) }}" class="btn btn-success"><i class="fas fa-eye"></i></a>
                                        <a href="{{ path_for('addCart', {id: vinyle.id}) }}" class="btn btn-primary"><i class="fas fa-cart-plus"></i></a>
                                        <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#modalInvitCollab{{ vinyle.id }}"><i class="fas fa-share-square"></i></a>
                                        <a href="{{ path_for('deleteVinyle', {id: vinyle.id}) }}" class="btn btn-danger"><i class="fas fa-times"></i></a>
                                    </div>
                                </td>
                            </tr>


                            <div class="modal fade" id="modalInvitCollab{{ vinyle.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Invitation à collaborer</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <label >Lien à partager pour inviter un collaborateur : </label>

                                            <div class="form-group mx-sm-4 mb-4">
                                                <input type="text" readonly class="form-control" id="staticShowListe" value="{{  uri.getAuthority() ~ path_for('showCollab', {shareKey: vinyle.shareKey}) }}" onclick="clipboard(this)" data-toggle="popover" data-content="<i class='fas fa-check-circle'></i></i> C'est copié !" data-placement="bottom" data-trigger="focus">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalCollab" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Collaboration</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form" action="{{ path_for("getCollab") }}" method="POST">
                    <div class="modal-body">
                            <label >Recherchez le vinyle sur lequel vous allez collaborer grâce au numéro que son créateur vous a envoyé : </label>

                            <div class="form-group mx-sm-4 mb-4">
                                <input type="text" class="form-control" name="shareKey" id="inputPassword2" placeholder="Clé du vinyle">
                            </div>

                            {{ csrf() | raw }}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary ">Accéder au vinyle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}